@page
@model BankStartWeb.Pages.Customers.CustomersModel
@{
}

<form method="GET">
    <input asp-for="SearchTerm" placeholder=" Search Customers..." autocomplete="off" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Efternamn</th>
            <th>Förnamn</th>
            <th>Land</th>
            <th>Stad</th>
            <th>TelefonNummer</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Givenname</td>
            <td>@customer.Surname</td>
            <td>@customer.Country</td>
            <td>@customer.City</td>
            <td>@customer.Telephone</td>
            <td>@customer.EmailAddress</td>
            <td><a class="view-customer-details-btn" asp-page="/Customers/CustomerDetails" asp-route-id="@customer.Id">View Accounts</a></td>
        </tr>
    }
    <tfoot>
        <tr>
            @if (Model.PageNum != 1)
            {
                <td><a asp-page="/Customers/Customers" asp-route-pagenum="@(Model.PageNum - 1)" asp-route-SearchTerm="@Model.SearchTerm">Förra</a></td>
            }
            else
            {
                <td></td>
            }
            <td></td>
            <td></td>
            <td><h4>Sida @Model.PageNum</h4></td>
            <td></td>
            <td></td>
            <td><a asp-page="/Customers/Customers" asp-route-pagenum="@(Model.PageNum + 1)" asp-route-SearchTerm="@Model.SearchTerm">Nästa</a></td>
        </tr>
    </tfoot>
</table>

