@page
@model Bank_AB.Pages.Customers.AccountsModel
@{
}

<a class="back-btn" asp-page="/Customers/Customers" asp-route-id="@Model.Customer.Id">Tillbaka till Kunder</a>
<div>
    <div class="customer-details-info">
        <h1>Kunddetaljer</h1>

        <h2>Namn: @Model.Customer.Givenname @Model.Customer.Surname</h2>
        <h5>Land: @Model.Customer.Country</h5>
        <h5>Stad: @Model.Customer.City</h5>
        <h5>Adress: @Model.Customer.Adress</h5>
        <h5>Personnummer: @Model.Customer.NationalId</h5>
        <h5>Telefonnummer: @Model.Customer.Telephone</h5>

    </div>
    
    <div class="customer-details-edit-btn-area">
        <a class="btn btn-outline-info" asp-page="/Customers/EditCustomer" asp-route-id="@Model.Customer.Id">Redigera kund</a>
    </div>
</div>



<form method="GET">
    <input asp-for="Id" value="@Model.Customer.Id"/>
    <input asp-for="SearchTerm" placeholder=" Search Accounts..." autocomplete="off"/>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Kontonummer
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Id" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Id" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Kontotyp
            <a asp-page="/Customers/CustomerDetails" asp-route-col="AccountType" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/CustomerDetails" asp-route-col="AccountType" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Saldo
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Balance" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Balance" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Skapad
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Created" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/CustomerDetails" asp-route-col="Created" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-id="@Model.Id">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var acc in Model.Accounts)
    {
        <tr>
            <td>@acc.Id</td>
            <td>@acc.AccountType</td>
            <td>@acc.Balance</td>
            <td>@acc.Created</td>
            <td>
                <a class="view-account-details-btn" asp-page="/Customers/AccountDetails" asp-route-id="@acc.Id">View Transactions</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (Model.TotalPageCount != 1)
{
    <div class="paging">
        <div class="paging-btn-container">
            @if (Model.PageNum != 1)
            {
                <a class="paging-btn" asp-page="/Customers/CustomerDetails" asp-route-pagenum="@(Model.PageNum - 1)" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortOrder="@Model.SortOrder" , asp-route-SortCol="@Model.SortCol">Föregående</a>
            }
        </div>
        <div>
            <h4>Sida @Model.PageNum av @Model.TotalPageCount</h4>
        </div>
        <div class="paging-btn-container">
            @if (Model.PageNum != Model.TotalPageCount)
            {
                <a class="paging-btn" asp-page="/Customers/CustomerDetails" asp-route-pagenum="@(Model.PageNum + 1)" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortOrder="@Model.SortOrder" , asp-route-SortCol="@Model.SortCol">Nästa</a>
            }
        </div>
    </div>
}


<h4>Totalt Saldo: @Model.AmountInAccounts</h4>