@page
@model Bank_AB.Pages.Customers.CustomersModel
@{
}
<div class="customer-search">
    <form method="GET" class="searchForm">
        <input class="searchInput" asp-for="SearchTerm" placeholder=" Sök..." autocomplete="off"/>
    </form>

    <form asp-page-handler="SearchById" class="searchForm">
        <input class="searchInput" asp-for="SearchTermId" placeholder=" Sök med Id..." autocomplete="off"/>
        <span asp-validation-for="SearchTermId" class="field-validation-error"></span>
    </form>
</div>


<table class="table">
    <thead>
    <tr>
        <th>
            Förnamn
            <a asp-page="/Customers/Customers" asp-route-col="Givenname" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="Givenname" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Efternamn
            <a asp-page="/Customers/Customers" asp-route-col="Surname" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="Surname" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Land
            <a asp-page="/Customers/Customers" asp-route-col="Country" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="Country" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Stad
            <a asp-page="/Customers/Customers" asp-route-col="City" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="City" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Adress
            <a asp-page="/Customers/Customers" asp-route-col="Adress" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="Adress" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th>
            Personnummer
            <a asp-page="/Customers/Customers" asp-route-col="NationalId" asp-route-order="asc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-a-z"></i>
            </a>
            <a asp-page="/Customers/Customers" asp-route-col="NationalId" asp-route-order="desc" asp-route-SearchTerm="@Model.SearchTerm" asp-route-pagenum="@Model.PageNum">
                <i class="bx bx-sort-z-a"></i>
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Givenname</td>
            <td>@customer.Surname</td>
            <td>@customer.Country</td>
            <td>@customer.City</td>
            <td>@customer.Adress</td>
            <td>@customer.NationalId</td>
            <td>
                <a class="view-customer-details-btn" asp-page="/Customers/CustomerDetails" asp-route-id="@customer.Id">View Accounts</a>
            </td>
        </tr>
    }

</table>
<div class="paging">
    <div class="paging-btn-container">
        @if (Model.PageNum != 1)
        {
            <a class="paging-btn" asp-page="/Customers/Customers" asp-route-pagenum="@(Model.PageNum - 1)" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortOrder="@Model.SortOrder" , asp-route-SortCol="@Model.SortCol">Föregående</a>
        }
    </div>
    <div>
        <h4>Sida @Model.PageNum av @Model.TotalPageCount</h4>
    </div>
    <div class="paging-btn-container">
        @if (Model.PageNum != Model.TotalPageCount)
        {
            <a class="paging-btn" asp-page="/Customers/Customers" asp-route-pagenum="@(Model.PageNum + 1)" asp-route-SearchTerm="@Model.SearchTerm" asp-route-SortOrder="@Model.SortOrder" , asp-route-SortCol="@Model.SortCol">Nästa</a>
        }
    </div>
</div>

<section>
    <hr/>
    <a asp-page="Customers/NewCustomer">Skapa en ny kund</a>
</section>