@page
@model Bank_AB.Pages.Admin.ViewModel
@{
}


<h1>@Model.ThisUser.UserName</h1>

<table class="h5 table w-50">
    <tr>
        <td>Id:</td>
        <td>@Model.ThisUser.Id</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.ThisUser.Email</td>
    </tr>
    <tr>
        <td>Validerat email:</td>
        <td>
            @if (Model.ThisUser.EmailConfirmed)
            {
                <i class='bx bx-check'></i>
            }
            else
            {
                <i class='bx bx-x'></i>
            }
        </td>
    </tr>
    <tr>
        <td>Telefonnummer: </td>
        <td>@Model.ThisUser.PhoneNumber</td>
    </tr>
    <tr>
        <td>2FA:</td>
        <td>
            @if (Model.ThisUser.TwoFA)
            {
                <i class='bx bx-check'></i>
            }
            else
            {
                <i class='bx bx-x'></i>
            }
        </td>
    </tr>


    <tr>
        <td>
            Roller:
        </td>
        <td>
            @foreach (var role in Model.ThisUser.Roles)
            {
                <p>@role</p>
            }
        </td>
    </tr>

</table>

<div class="d-inline-block">
    <a class="edit-user-btn" asp-page="EditUser" asp-route-id="@Model.ThisUser.Id"><i class="bx bxs-edit-alt"></i> Redigera</a>
</div>